= render "pages/components/badges"
br
= render "pages/components/buttons"
br
= render "pages/components/breadcrumbs"
br
= render "pages/components/cards"
br
= render "pages/components/forms"
br
= render "pages/components/modal"
br
= render "pages/components/tabs"
br
br
br