br
= render "pages/forms/autocomplete"
br
= render "pages/forms/checkboxes"
br
= render "pages/forms/chips"
br
= render "pages/forms/picker"
br
= render "pages/forms/slider"
br
= render "pages/forms/radios"
br
= render "pages/forms/select"
br
= render "pages/forms/switches"
br
= render "pages/forms/inputs"