# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 409bf475b0a9d18ad933b1ee5f3f0ed534afe3e4a95a46f6053cfba3a694d97216b6a80a3b7b35a7e09c496625babeb46509542b8171163c5c6ac21d6b06b768

test:
  secret_key_base: 87a27529abe324e1b138be457f9944ecc536718d806116b8f5fe7a3f0f711ac11e21f5bf386f13edd071d2efb1780a696dfcd96e1a2596faf62093f5ff07422e

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
