
  <div class="chip">
    <img src="http://materializecss.com/images/yuna.jpg" alt="Contact Person">
    Jane Doe
  </div>


  <div class="chip">
    Tag
    <i class="close material-icons">close</i>
  </div>
        
