 <a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('open')">Open tap target</a>

 <a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('close')">Close tap target</a>

 <!-- Element Showed -->
  <div class="fixed-action-btn direction-top active" >
	  <a id="menu" class="btn btn-floating btn-large cyan"><i class="material-icons">menu</i></a>
	</div>
  <!-- Tap Target Structure -->
  <div class="tap-target" data-target="menu">
    <div class="tap-target-content">
      <h5>Title</h5>
      <p>A bunch of text</p>
    </div>
  </div>


  
