<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">Test 1</a></li>
      <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
      <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
      <li class="tab col s3"><a href="#test4">Test 4</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">Test 1</div>
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>
</div>


<br>

<ul id="tabs-swipe-demo" class="tabs">
  <li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>
  <li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
  <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
</ul>
<div id="test-swipe-1" class="col s12 blue">Test 1</div>
<div id="test-swipe-2" class="col s12 red">Test 2</div>
<div id="test-swipe-3" class="col s12 green">Test 3</div>

<br>

<ul class="tabs tabs-fixed-width tab-demo z-depth-1">
  <li class="tab"><a href="#test-width-1">Test 1</a></li>
  <li class="tab"><a class="active" href="#test-width-2">Test 2</a></li>
  <li class="tab disabled"><a href="#test-width-3">Disabled Tab</a></li>
  <li class="tab"><a href="#test-width-4">Test 4</a></li>
  <li class="tab"><a href="#test-width-0">Test 5</a></li>
</ul>
<div id="test-width-1" class="col s12"><p>Test 1</p></div>
<div id="test-width-2" class="col s12"><p>Test 2</p></div>
<div id="test-width-3" class="col s12"><p>Test 3</p></div>
<div id="test-width-4" class="col s12"><p>Test 4</p></div>
<div id="test-width-0" class="col s12"><p>Test 5</p></div>